{% load static %}
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
    <a class="navbar-brand"
       href="#">OK ZOOMER</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Looking for some zoomers" aria-label="GIG">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Giggle</button>
      </form>
    </div>
    <div class="media">
      <div class="media-body">
        <a href="#" class="btn btn-sm btn-lg active" role="button" aria-pressed="true">log in</a>
        <a href="#" class="btn btn-sm btn-lg active" role="button" aria-pressed="true">sign up</a>
      </div>
    </div>
</nav>