{% load static %}
</div>
        <div class="col-4">
          <h1 class="container NIKITA_align_horizontaly">This is so HOT!!</h1>
          <div class="row">
            <div class="card" style="width: 20rem;">
              <!--            <img class="card-img-top" src="static/imgs/Jennifer-Connelly-post128.jpg" alt="Card image cap">-->
              <div class="card-body">
                <h5 class="card-title">POPULAR AMONG OTHER ZOOMERS</h5>
                <p>d title and make up the bulk of the card's content.</p>
                <a href="#" class="btn-light btn-sm">Oil</a>
                <a href="#" class="btn-light btn-sm">SWAG</a>
                <a href="#" class="btn-light btn-sm">new_shoes</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card" style="width: 20rem;">
            <!--            <img class="card-img-top" src="static/imgs/Jennifer-Connelly-post128.jpg" alt="Card image cap">-->
            <div class="card-body">
              <h5 class="card-title">BEST ZOOMERS EVER</h5>
              <a href="#" class="">VALERIY ZJMISHENKO</a><br/>
              <a href="#" class="">jennifer connelly</a><br/>
              <a href="#" class="">Kroshka Nick</a><br/>
            </div>
          </div>
          </div>
        </div>
      </div>
